<app-menu></app-menu>
<section class="food_section layout_padding-bottom">
  <div class="container">

    <div class="heading_container heading_center">
      <h2></h2>
    </div>
    <ul class="filters_menu">
      <li *ngFor="let c of categorys" data-filter="*" (click)="category(c.idCategory)">{{c.name}}</li>
      <p></p>
    </ul>

    <div class="filters-content">
      <div class="row grid">
        <div class="col-sm-6 col-lg-4 all pizza" *ngFor="let f of foodList">
          <div class="box">
            <div>
              <div class="img-box" (click)="infoFood(f,f.price)" data-bs-toggle="modal" data-bs-target="#foodInfo">
                <img src="{{f.img}}" alt="">
              </div>
              <div class="detail-box">
                <h2 style="font-family: Dancing Script">
                  {{f.name}}
                </h2>
                <h6 style="font-family: Dancing Script"> Giá : {{f.price | currency:'VND':''}}đ</h6>
                <div class="options">
                  <h6 style="font-family: Dancing Script">
                    Size : {{f.size?.name}}
                  </h6>
                  <a href="">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029"
                         style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                        <g>
                          <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"/>
                          </g>
                        </g>
                      <g>
                          <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z"/>
                          </g>
                        </g>
                      <g>
                          <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"/>
                          </g>
                        </g>
                      <g>
                        </g>
                      <g>
                        </g>
                      <g>
                        </g>
                      <g>
                        </g>
                      <g>
                        </g>
                      <g>
                        </g>
                      <g>
                        </g>
                      <g>
                        </g>
                      <g>
                        </g>
                      <g>
                        </g>
                      <g>
                        </g>
                      <g>
                        </g>
                      <g>
                        </g>
                      <g>
                        </g>
                      <g>
                        </g>
                      </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--    <div class="btn-box">-->
    <!--      <a href="">-->
    <!--        View More-->
    <!--      </a>-->
    <!--    </div>-->
  </div>
</section>

<div class="modal " id="foodInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="border-radius: 10px;">
      <div class="modal-header" style="border-bottom: 0px;padding-bottom: 0">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="padding-top: 0">
        <h4 style="text-align: center">Thông tin chi tiết</h4>
        <div class="row" style="padding:40px 10px">
          <div class="col-lg-6 col-sm-6">
            <div class="swiper-slide"><img
              src="{{food.img}}" style="width: auto;border-radius: 10px;margin-left: 25px"></div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <p class="category"><span><b>Tên món</b></span>: {{food.name}} </p>
            <p class="category"><span><b>Kích thớc</b></span>: Size {{food.size?.name}}</p>
            <p class="category" *ngIf="food.promotion!=0"><span><b>Khuyến mãi</b></span>: {{food.promotion}}%</p>
            <p class="category"><span><b>Số lượng</b>:</span><input type="number" min="1" [(ngModel)]="this.quantity"
                                                                    style="width: 40px;margin-left: 10px" #quantityHtlm
                                                                    (change)="totalPrice(quantityHtlm.value)"/></p>
            <p class="category" *ngIf="this.price>food.price;else elseBlock">
              <span><b>Giá tiền</b></span>: {{this.price | currency:'VND':''}}đ</p>
            <ng-template #elseBlock>
              <p class="category"><span><b>Giá tiền</b></span>: {{this.pricePromotion | currency:'VND':''}}đ</p>
            </ng-template>
            <button class="btn btn-warning" style="background-color:orange;height: 40px;color: white">Thêm vào giỏ hàng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

