
<div class="container">
  <div class="row" style="margin-top: 100px">
    <div class="col-lg-6 col-sm-6">
      <div class="swiper-slide" ><img
        src="assets/images/img.png"></div>
    </div>
    <div class="col-lg-5 col-sm-6" >
      <p class="category"><span><b>Phân Loại</b></span>: Burger</p>
      <p class="category"><span><b>Món ăn</b></span>: Hamburger với phô mai và khoai tây chiên</p>
      <p class="category"><span><b>Kích thớc</b></span>: Loại lớn</p>
      <p class="category"><span><b>Số lượng</b>:</span><input type="number" min="1" value="1" style="width: 50px;margin-left: 15px"/></p>
      <div class="addtocart" style="background: #046056">Thêm vào giỏ hàng</div>
      <div class="addtocart" style="background: orangered">Mua ngay</div>
      <p><img src="https://nuochoamy.vn/images/iconnuochoa2.png" style="width: 600px" alt="Phương thức thanh toán"/></p>
<button  class="btn btn-primary" (click)="logout()">Đăng xuất</button>
    </div>
  </div>
</div>
