
<section class="about_section layout_padding" style="background-color:aliceblue;color: black ">
  <div class="container  ">

    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="assets/images/about-img.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Chúng tôi là TrungNQ
            </h2>
          </div>
          <p>
            Được biết đến như một trong những thương hiệu thức ăn nhanh hàng đầu tại Việt Nam với nguồn nguyên liệu gà tươi 100. Là một thương hiệu gà rán nổi tiếng đến từ Mỹ, Texas Chicken luôn mong muốn mang đến cho khách hàng những món ăn với chất lượng tốt nhất. Hệ thống Texas Chicken luôn sử dụng nguồn nguyên liệu 100% gà tươi từ nông trại tại Việt Nam với quy trình kiểm tra chất lượng và vệ sinh nghiêm ngặt. Bên cạnh đó, những gia vị cho món gà có hương vị tuyệt hảo và những nguyên liệu cho món ăn phụ đặc trưng (như món bánh quy bơ mật ong) đều được nhập khẩu trực tiếp từ Hoa Kỳ.
            <br>
            <br>


            Với không gian được thiết kế sang trọng, đẳng cấp và phong cách phục vụ chuyên nghiệp, thực khách sẽ hoàn toàn hài lòng khi trải nghiệm món “Gà rán đậm vị Texas” cùng nước ngọt refill thoải mái tại hệ thống Texas Chicken. Hiện nay, Texas Chicken có 23 nhà hàng tại các thành phố lớn như TP. Hồ Chí Minh, Hà Nội, Bình Dương, Nha Trang. Còn chần chờ gì nữa mà không tới ngay Texas Chicken để thưởng những miếng gà rán thơm ngon, đậm vị cùng nhiều món ăn vặt hấp dẫn khác nữa.

            <br>
            <br>


            THÔNG TIN LIÊN HỆ:

            Địa chỉ:

            113-115 Nguyễn Thái Học, Cầu Ông Lãnh, Quận 1, TP. Hồ Chí Minh - 028 6272 8699
            64 Cao Thắng, Phường 4 , Quận 3, TP. Hồ Chí Minh - 028 6685 0150
            <br><br>
            www.facebook.com/TexaschickenVN/posts/2134199363378334/
            Email: cs.texaschicken@fb.mesa.vn

            Fanpage: www.facebook.com/TexaschickenVN


          </p>

        </div>
      </div>
    </div>
  </div>
</section>
