<div class="sub_page">
  <div class="hero_area">
    <div class="bg-box">
      <img src="assets/images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section" style="padding: 0px;">
      <div class="container-fluid" style="background-color: #222831;height: 80px">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" routerLink="/about">
            <span>
              TrungNQ
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto " *ngIf="role != 'ROLE_ADMIN';else elseAdmin">
              <li class="nav-item ">
                <a class="nav-link" routerLink="/food" (click)="home()">Trang chủ <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/menu/:name" (click)="menu()">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about" (click)="about()">Giới thiệu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact" (click)="contact()">Liên hệ</a>
              </li>
            </ul>
            <ng-template #elseAdmin>
              <ul class="navbar-nav navbar-navAdmin mx-auto " style="margin-right: 100px">
                <li class="nav-item ">
                  <a class="nav-link" routerLink="/admin/product" >Sản phẩm <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin/category" >Danh mục</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin/revenue">Doanh thu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin/history" >Lịch sử</a>
                </li>
              </ul>
            </ng-template>
            <div class="user_option">

              <form class="form-inline" *ngIf="role != 'ROLE_ADMIN'">
                <input class="order_online" type="search" placeholder="Tên món ăn|Thể loại" #search value="">

                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit" (click)="searchByName(search.value)" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-search" viewBox="0 0 16 16">
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </button>
              </form>
              <a class="cart_link" routerLink="/cart" *ngIf="role != 'ROLE_ADMIN'" style="text-decoration: none">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;"
                     xml:space="preserve">
                  <g>
                    <g>
                      <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                   C457.728,97.71,450.56,86.958,439.296,84.91z"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"/>
                    </g>
                  </g>
                  <g>
                  </g>

                </svg><p style="color: #ffbe33">{{totalQuantity}}</p>
              </a>

              <a href="#" class="user_link" style="text-decoration: none" data-bs-toggle="modal"
                 data-bs-target="#login" *ngIf="this.isLogged==false">Đăng nhập</a>

              <a routerLink="/customer" class="user_link" *ngIf="this.isLogged==true" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-person-circle" viewBox="0 0 16 16" style="margin-bottom: 3px">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
              </a>


<!--              <a href="" class="order_online">-->
<!--                Order Online-->
<!--              </a>-->
            </div>
          </div>
        </nav>
      </div>
    </header>

    <!-- end header section -->
  </div>
</div>


<!--login modal-->
<div class="login">
  <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " style="margin-top:100px;margin-bottom: 100px">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          <div class="myform bg-dark">
            <h1 class="text-center" style="color: white">Đăng nhập </h1>
            <form [formGroup]="form" (ngSubmit)="login()">
              <div class="mb-3 mt-3">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" formControlName="username">
              </div>
              <div class="mb-3 mt-3">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" class="form-control" formControlName="password">
              </div>
              <div class="mb-3 mt-3">
                <input type="checkbox" id="rememberMe"  formControlName="rememberMe">
                <label for="rememberMe" style="margin-left: 10px">  Ghi nhớ đăng nhập</label>
              </div>
              <button type="submit" class="btn btn-light mt-3" data-bs-dismiss="modal">Đăng nhập</button>
              <p style="color: white">Chưa có tài khoản? <a class="sign" type="button" data-bs-toggle="modal" data-bs-target="#sign-in">Đăng
                kí</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--sing-in modal-->
<div class="login">
  <div class="modal fade" id="sign-in">
    <div class="modal-dialog" style="margin-top:100px;margin-bottom: 100px">
      <div class="modal-content" style="width: 100%">
        <div class="modal-body">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
          <div class="myform bg-dark">
            <h1 class="text-center" style="color: white">Đăng kí</h1>
            <form action="">
              <div class="mb-3 mt-4">
                <label for="name">Tên</label>
                <input type="text" id="name" class="form-control">
              </div>
              <div class="mb-3 mt-4">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control">
              </div>
              <div class="mb-3 mt-4">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" class="form-control">
              </div>
              <div class="mb-3 mt-4">
                <label for="confirmPassword">Xác nhận mật khẩu</label>
                <input type="password" id="confirmPassword" class="form-control">
              </div>
              <!--            <p>Chưa có tài khoản?</p>-->
              <br>
              <button type="button" class="btn btn-light mt-3">Đăng kí</button>
              <p></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


