

<!--Form nhập thông tin nhận hàng-->
<div style="background-color: aliceblue">
<div class="container">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-10" style="margin: 50px 0 100px 0">
      <div class="card mt-5" style="border-radius: 15px">
        <div class="card-body "  >
          <form>
            <h3 style="text-align: center; margin-top: 30px; margin-bottom: 50px">Thông tin nhận hàng</h3>
            <div class="row">
              <div class="col-4">
                <label style="font-weight: bold;margin-left: 60px">Tên người nhận:</label>
              </div>
              <div class="col-6">
                <input class="form-control" type="text">
              </div>
              <div class="col-2">
              </div>
            </div>
            <div class="row" style="margin-top: 30px">
              <div class="col-4">
                <label style="font-weight: bold;margin-left: 60px">Số điện thoại:</label>
              </div>
              <div class="col-6">
                <input class="form-control" type="text">
              </div>
              <div class="col-2">
              </div>
            </div>
            <div class="row" style="margin-top: 30px">
              <div class="col-4">
                <label style="font-weight: bold;margin-left: 60px">Địa chỉ:</label>
              </div>
              <div class="col-6">
                <input class="form-control" type="text">
              </div>
              <div class="col-2">
              </div>
            </div>
            <div class="row" style="margin-top: 30px">
              <div class="col-lg-4"></div>
              <div class="col-lg-6">
<!--                <button  type="button"-->
<!--                        class="btn btn-danger btn-block btn-lg"-->
<!--                        data-mdb-ripple-color="primary">Thanh toán-->
<!--                </button>-->
                <div id="payments"></div>
              </div>
              <div class="col-lg-2"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


</div>






